@*<script src="~/Scripts/angular.js"></script>*@

@{
    //ViewBag.Title = "Home Page";
}


@section featured {
    <section class="featured">       

    </section>
}
<html>
<head>
   @* <script src="~/Application/MovieApp.js"></script>*@
</head><body>
  
</body>
</html>


